._transition {
    -webkit-transition: all 0.2s ease-out;
}

.deleteIcon {
    position: absolute;;
    top: 0;
    left: -.8rem;
    bottom: 0;
    margin: auto;
    width: 1.5rem;
    height: 1.5rem;
    background: #fff;
    border-radius: 2rem;
    svg {
        width: 1.5rem;
        height: 1.5rem;
        box-sizing: border-box;
        ._transition;
        &:active {
            transform: scale(1.2, 1.2)
        }
    }
}

.testClass{
    position: absolute;
    z-index: 100;
    background: #000;
    width: 100px;
    height: 100px;
    border: solid 1px #000;
}